* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.intro {
  height: 100vh;
}

/* stretch out the video to fill the page */
.intro video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* center intro text */
.intro h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: white;
}

section {
  height: 100vh;
  color: black;
  background-color: black;
}

section h1 {
  position: relative;
  padding-top: 300px;
  text-align: center;
  font-size: 80px;
  color: white;
  background-color: black;
}
